.circleci
.git
.nyc_output
coverage
data
node_modules
test

.babelrc
.gitignore
.mocharc
Dockerfile
LICENCE
nconf.json
nodemon.json
package-lock.json
README.md
webpack.config.js
webpack.config.test.js
yarn-error.log
yarn.lock

applications/**/client/
applications/**/webpack.config.js
