npm-debug.log
node_modules
coverage
.nyc_output
*~
.DS_Store
.idea
*.log
volumes
build
tmp
yarn.lock
package-lock.json

nconf.json
/plugins/admin/public/assets/css/
/plugins/admin/public/assets/js/
/user/
